/* baze styles */
:root {
  /* fonts */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  /* colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

/* reset  */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ------------------------------ */

/* links without underline */
a {
  text-decoration: none;
}
/* ------------------------------ */

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* common styles */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header styles */
.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

/* first section styles  */
.hero-section {
  background: var(--navy-blue);
  padding: 188px 0;
}

.page-title-section {
  max-width: 496px;
}

.order-button {
  min-width: 169px;
}

/* advantages section styles  */
.advantages-section {
  padding: 120px 0;
}

.advantages-list-items {
  display: flex;
  gap: 24px;
}

.class-h-three {
  margin-bottom: 8px;
}

.advantages-section-list {
  width: calc((100% - 72px) / 4);
}

/* our team section */
.our-team-section {
  padding: 120px 0;
  background: var(--cloud);
}

.our-team-header {
  padding-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-section-item {
  background-color: var(--white);
}

/* footer styles  */
.footer-container {
  padding: 100px;
}

.logo-footer-container {
  display: inline-block;
  margin-bottom: 16px;
}

.paragraph-footer-container {
  width: 264px;
}

/* h3  */
h3 {
  font-family: var(--font-family);

  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* p  */

p {
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.class-h-second {
  font-family: var(--font-family);

  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);

  text-align: center;
  text-transform: capitalize;
}

/* logo in nav*/
.logo {
  font-family: var(--second-family);

  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo span {
  color: var(--navy-blue);
}

/* logo in footer*/
.logo-footer {
  font-family: var(--second-family);

  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-second-color-footer {
  color: var(--cloud);
}

.footer-paragraph {
  color: var(--cloud);
}

/* navigation tab in nav */
.header-navigation {
  font-family: var(--font-family);
  padding: 24px 0;
  display: block;

  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-navigation:hover,
.header-navigation:focus {
  color: var(--ocean);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean);
}
/* ------------------------------ */

/* address in nav */
.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-link {
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 16px;
  padding: 24px 0;
  display: block;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* ------------------------------ */

/* page title (h1) */
.page-title {
  font-family: var(--font-family);

  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

/* title section button */
.order-button {
  font-family: var(--font-family);

  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  background: var(--iris);

  cursor: pointer;

  border-radius: 4px;
  padding: 16px 32px;
  border: none;

  margin: 48px auto 0;
  display: block;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}
/* ------------------------------ */

/* advantages section settings */
/* h2 (is hidden with white color) */
.class-h2-advantages {
  color: var(--white);
}
/* ------------------------------ */

/* advantages section  */
.paragraph {
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.class-h-three {
  font-family: var(--font-family);

  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
/* ------------------------------ */

/* ------------------------------ */

/* footer  */
.footer {
  background-color: var(--navy-blue);
}
